body {
    font-family: 'Segoe UI', sans-serif;
}

.fact-container.table-multiplication .result-placeholder
{
    border-bottom: 1px solid black;
}

.operand{
    text-align: right;
}

.fact-container hr{
    border: none;
    height: 1px;
    background: black;
}

.fact-container{
    display: inline-block;
    margin-left: 1em;
}