body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14pt;
}

#facts
{
    line-height: 2;
}

.picker 
{
    display: inline-block;
    margin-right: 1em;
}

.fact-container.table-multiplication .result-placeholder,
.fact-container.table-division .result-placeholder,
.fact-container.horizontal-addition .result-placeholder,
.fact-container.horizontal-subtraction .result-placeholder
{
    border-bottom: 1px solid black;
}

.configuration input
{
    width: 3em;
}

.configuration-container
{
    display: inline-block;   
    border: 1px solid #ccc;
    position: relative;
    vertical-align: top;
    margin-right: 1em;
    margin-top: 1em;
}

.configuration-container .close
{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.configuration 
{
    padding: 0.5em;
}

.operand{
    text-align: right;
}

.fact-container hr{
    border: none;
    height: 1px;
    background: black;
}

.fact-container{
    display: inline-block;
    min-width: 20%;
}

#amount
{
    width: 4em;
}

@media print {
    .noprint {display: none;}
}