body {
    font-family: 'Segoe UI', sans-serif;
}

.fact-container.table-multiplication .result-placeholder,
.fact-container.table-division .result-placeholder,
.fact-container.horizontal-addition .result-placeholder,
.fact-container.horizontal-subtraction .result-placeholder
{
    border-bottom: 1px solid black;
}

.configuration input
{
    width: 3em;
}

.configuration-container
{
    display: inline-block;   
    border: 1px solid #ccc;
    position: relative;
}

.configuration-container .close
{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.configuration 
{
    padding: 0.5em;
}

.operand{
    text-align: right;
}

.fact-container hr{
    border: none;
    height: 1px;
    background: black;
}

.fact-container{
    display: inline-block;
    margin-left: 1em;
}

#amount
{
    width: 4em;
}